In [1]:
import pandas as pd

In [72]:
df = pd.read_csv('D://Python Machine lerning blueprint_Projects//Finding_Underpriced_Apartment//extracted_data')

In [73]:
df.columns

Index(['Unnamed: 0', 'url', 'address', 'neibhourehood', 'rent', 'no_of_beds',
       'no_of_bathrooms'],
      dtype='object')

## Removing Index

In [74]:
df = df.drop(df.columns[0], axis=1)
df

,url,address,neibhourehood,rent,no_of_beds,no_of_bathrooms
0,https://www.renthop.com/listings/201-stanton-s...,201StantonStreet,"LowerEastSide,DowntownManhattan,Manhattan",5295,2,1
1,https://www.renthop.com/listings/bedford-ave-m...,"1655BedfordAvenue,Apt2B","CrownHeights,CentralBrooklyn,Brooklyn",3800,2\n / Flex 3,1
2,https://www.renthop.com/listings/95-wall-stree...,"95WallStreet,Apt1001","FinancialDistrict,DowntownManhattan,Manhattan",3914,Studio,1
3,https://www.renthop.com/listings/775-columbus-...,"775ColumbusAvenue,Apt07A","ManhattanValley,UpperWestSide,UpperManhattan,M...",4820,1,1
4,https://www.renthop.com/listings/10-hanover-sq...,"10HanoverSquare,Apt04R","FinancialDistrict,DowntownManhattan,Manhattan",3965,Studio,1
...,...,...,...,...,...,...
16799,https://www.renthop.com/listings/232-e-54th-st...,"232E54thSt,Apt6D","MidtownEast,MidtownManhattan,Manhattan",4018,Studio,1
16800,https://www.renthop.com/listings/148-west-68th...,148West68thStreet,"LincolnSquare,UpperWestSide,UpperManhattan,Man...",2650,Studio,1
16801,https://www.renthop.com/listings/37-wall-stree...,"37WallStreet,Apt8M","FinancialDistrict,DowntownManhattan,Manhattan",3700,1,1
16802,https://www.renthop.com/listings/east-78th-str...,East78thStreet,"UpperEastSide,UpperManhattan,Manhattan",2695,Studio,1
16803,https://www.renthop.com/listings/e-92nd-st-2nd...,E92ndSt&2ndAve,"Yorkville,UpperEastSide,UpperManhattan,Manhattan",2750,Studio,1

# Filtering integer values from the column  
the scraped data still contains some another symboll and spaces so here we are filtering that and extracting integers

In [75]:
df['no_of_beds'].unique()

array(['2', '2\n            / Flex 3', 'Studio', '1', '3',
       '1\n            / Flex 2', '1\n            / Flex 3', '4',
       'Studio\n            / Flex 1', '3\n            / Flex 4',
       'Studio\n            / Flex 2', 'Private Room',
       '3\n            / Flex 5', '5', '8', '6',
       '2\n            / Flex 4', '7', '4\n            / Flex 5', '9',
       '5\n            / Flex 6'], dtype=object)

In [1]:
import numpy as np
import re

In [77]:
def extract_integer(value):
    if isinstance(value,str):
        match = re.search(r'\d+',value)
        return int(match.group(0)) if match else 0
    return 0

# The apply() function is a powerful tool for applying a function to each element along a specified axis of a 
# Pandas DataFrame or Series. It allows you to perform custom operations on your data, going beyond 
# the standard built-in functions.

In [78]:
df['no_of_beds']=df['no_of_beds'].apply(extract_integer)
df['no_of_beds']

0        2
1        2
2        0
3        1
4        0
        ..
16799    0
16800    0
16801    1
16802    0
16803    0
Name: no_of_beds, Length: 16804, dtype: int64

In [79]:
# checking that the scraped data from the website is satisfying or not

# nan_count = df['no_of_beds'].isna().sum()
# nan_count

# .isna(): This method is called on the Series. It returns a new Series of boolean values with the same index 
# as df['your_column']. For each element, it returns True if the value is NaN and False otherwise.

# .sum(): This method is called on the boolean Series produced by .isna(). It treats True as 1 and False as 0. 
# When summed, it will give you the total count of True values, which is the same as the total count of NaN values.

0

Dropping rows with NaN values

In [67]:
# df = df.dropna(subset=['no_of_beds'])
# # 
# #df.dropna(): This is a Pandas DataFrame method that drops rows with missing values.
# # subset=['your_column']: This specifies that the dropna operation should only consider the your_column.
# # This is essential because you only want to drop rows where the your_column value is NaN, and leave the others untouched.

In [80]:
df

,url,address,neibhourehood,rent,no_of_beds,no_of_bathrooms
0,https://www.renthop.com/listings/201-stanton-s...,201StantonStreet,"LowerEastSide,DowntownManhattan,Manhattan",5295,2,1
1,https://www.renthop.com/listings/bedford-ave-m...,"1655BedfordAvenue,Apt2B","CrownHeights,CentralBrooklyn,Brooklyn",3800,2,1
2,https://www.renthop.com/listings/95-wall-stree...,"95WallStreet,Apt1001","FinancialDistrict,DowntownManhattan,Manhattan",3914,0,1
3,https://www.renthop.com/listings/775-columbus-...,"775ColumbusAvenue,Apt07A","ManhattanValley,UpperWestSide,UpperManhattan,M...",4820,1,1
4,https://www.renthop.com/listings/10-hanover-sq...,"10HanoverSquare,Apt04R","FinancialDistrict,DowntownManhattan,Manhattan",3965,0,1
...,...,...,...,...,...,...
16799,https://www.renthop.com/listings/232-e-54th-st...,"232E54thSt,Apt6D","MidtownEast,MidtownManhattan,Manhattan",4018,0,1
16800,https://www.renthop.com/listings/148-west-68th...,148West68thStreet,"LincolnSquare,UpperWestSide,UpperManhattan,Man...",2650,0,1
16801,https://www.renthop.com/listings/37-wall-stree...,"37WallStreet,Apt8M","FinancialDistrict,DowntownManhattan,Manhattan",3700,1,1
16802,https://www.renthop.com/listings/east-78th-str...,East78thStreet,"UpperEastSide,UpperManhattan,Manhattan",2695,0,1
16803,https://www.renthop.com/listings/e-92nd-st-2nd...,E92ndSt&2ndAve,"Yorkville,UpperEastSide,UpperManhattan,Manhattan",2750,0,1

Fintering Data on Bathrooms columns

In [81]:
df['no_of_bathrooms'].unique()

array(['1', '2', '1.5', '2.5', '3', '3.5', 'Shared', '5', '4.5', '0.5',
       '5.5', '4'], dtype=object)

In [85]:
df['no_of_bathrooms']=pd.to_numeric(df['no_of_bathrooms'], errors='coerce')

df['no_of_bathrooms'] = df['no_of_bathrooms'].astype('float')
df['no_of_bathrooms']

# If your column contains string values that you want to convert to float, you should first convert to numeric using
# pd.to_numeric and handle values that cannot be converted to numeric.

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
16799    1.0
16800    1.0
16801    1.0
16802    1.0
16803    1.0
Name: no_of_bathrooms, Length: 16804, dtype: float64

In [88]:
df.dtypes

url                 object
address             object
neibhourehood       object
rent                 int64
no_of_beds           int64
no_of_bathrooms    float64
dtype: object

In [95]:
len(df['neibhourehood'].unique())

247

In [105]:
df.groupby('neibhourehood')['rent'].count().to_frame('counts').sort_values(by='counts', ascending=False)

                                                  counts
neibhourehood
FinancialDistrict,DowntownManhattan,Manhattan       1103
MurrayHill,MidtownManhattan,Manhattan                937
Yorkville,UpperEastSide,UpperManhattan,Manhattan     820
Hell'sKitchen,MidtownManhattan,Manhattan             790
UpperEastSide,UpperManhattan,Manhattan               698
...                                                  ...
SpringfieldGardens,SoutheasternQueens,Queens           1
CambriaHeights,SoutheasternQueens,Queens               1
HuntsPoint,WestBronx,Bronx                             1
Beechhurst,Whitestone,NortheasternQueens,Queens        1
MillBasin,SoutheasternBrooklyn,Brooklyn                1

[247 rows x 1 columns]

For Above
**df.groupby('neighborhood'):**
This is the first step and uses the groupby() method on the DataFrame df.

It groups the rows of the DataFrame based on the unique values in the column named 'neighborhood'.

The result of this operation is a GroupBy object, which is an intermediate representation that allows you to apply aggregate functions to each group.

**['rent']:**
This step selects the column named 'rent' from the GroupBy object.

It specifies that you are interested in performing an operation on the 'rent' column within each group defined by 'neighborhood'.

The result is an object that has the rent column of each grouped neighborhood

**.count():**

This is an aggregation method that is applied to the 'rent' column within each group.

It calculates the number of non-NaN values in the 'rent' column for each group. In other words, it counts how many entries with valid 'rent' values are present for each 'neighborhood'.

The result is a Pandas Series where the index are the names of the neighborhoods and the values are how many valid entries exist in the rent column for each neighborhood.

**.to_frame('count'):**

This method converts the resulting Pandas Series into a DataFrame.

It also assigns the name 'count' to the newly created column that contains the counts.

The result is a Pandas DataFrame with two columns: 'neighborhood' (which becomes an index now) and 'count' (the calculated counts).

**.sort_values(by='count', ascending=False):**

This method sorts the DataFrame based on the values in the 'count' column.

by='count' indicates that the sorting should be based on the 'count' column.

ascending=False means that the DataFrame should be sorted in descending order (highest counts at the top).

The result is a Pandas Dataframe with the neighborhoods and the counts, sorted by the counts

In [108]:
df.groupby('neibhourehood')['rent'].mean().to_frame('average rent for a apartment by place').sort_values(by='average rent for a apartment by place',ascending=False)

                                                    average rent for a apartment by place
neibhourehood
SoHo,DowntownManhattan,Manhattan                                             14363.661017
Tribeca,DowntownManhattan,Manhattan                                          13039.714286
BrooklynHeights,NorthwesternBrooklyn,Brooklyn                                11776.320755
DowntownFlushing,Flushing,NortheasternQueens,Qu...                           11571.428571
Midtown,MidtownManhattan,Manhattan                                           11511.693182
...                                                                                   ...
OceanParkway,Midwood,CentralBrooklyn,Brooklyn                                 2100.000000
GlenOaksVillageSection2,GlenOaks,NortheasternQu...                            2050.000000
SunsetPark,SouthBrooklyn,Brooklyn                                             1925.000000
JamaicaHills,SoutheasternQueens,Queens                                        1700.000000
Rossville,SouthShore,StatenIsland                                             1700.000000

[247 rows x 1 columns]

In [109]:
df.to_csv('preprocessed_data')